@font-face {
    font-family: cuteChinese;
    src: url(cute_chinese.ttf) format('truetype');
    src: url(cute_chinese.woff) format('woff');
}

body {
    font-family: cutechinese;
}

.title {
    font-family: cuteChinese;
}

.countdownWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: rgb(213, 161, 161);
    padding: 10px;
    width: 100%;
    font-size: 70px;

    background-size: 1800% 1800%;   
}