body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.1em;
  --top-offset: 23.42vh;
  --fall-duration: 11.957s;
  --fall-delay: 8.655s;
}
.star:nth-child(2) {
  --star-tail-length: 5.12em;
  --top-offset: 75.01vh;
  --fall-duration: 6.088s;
  --fall-delay: 9.429s;
}
.star:nth-child(3) {
  --star-tail-length: 5.95em;
  --top-offset: 9.11vh;
  --fall-duration: 9.115s;
  --fall-delay: 5.888s;
}
.star:nth-child(4) {
  --star-tail-length: 6.94em;
  --top-offset: 12vh;
  --fall-duration: 7.231s;
  --fall-delay: 1.841s;
}
.star:nth-child(5) {
  --star-tail-length: 7.04em;
  --top-offset: 69.43vh;
  --fall-duration: 10.881s;
  --fall-delay: 2.083s;
}
.star:nth-child(6) {
  --star-tail-length: 5.55em;
  --top-offset: 44.67vh;
  --fall-duration: 11.577s;
  --fall-delay: 7.511s;
}
.star:nth-child(7) {
  --star-tail-length: 6.89em;
  --top-offset: 2.42vh;
  --fall-duration: 8.556s;
  --fall-delay: 4.78s;
}
.star:nth-child(8) {
  --star-tail-length: 5.95em;
  --top-offset: 23.96vh;
  --fall-duration: 8.829s;
  --fall-delay: 6.772s;
}
.star:nth-child(9) {
  --star-tail-length: 7.38em;
  --top-offset: 44.21vh;
  --fall-duration: 10.616s;
  --fall-delay: 9.838s;
}
.star:nth-child(10) {
  --star-tail-length: 5.75em;
  --top-offset: 87.3vh;
  --fall-duration: 11.179s;
  --fall-delay: 2.837s;
}
.star:nth-child(11) {
  --star-tail-length: 6.82em;
  --top-offset: 32.75vh;
  --fall-duration: 9.119s;
  --fall-delay: 7.083s;
}
.star:nth-child(12) {
  --star-tail-length: 6.21em;
  --top-offset: 76.6vh;
  --fall-duration: 11.984s;
  --fall-delay: 0.676s;
}
.star:nth-child(13) {
  --star-tail-length: 6.64em;
  --top-offset: 11.25vh;
  --fall-duration: 6.426s;
  --fall-delay: 3.518s;
}
.star:nth-child(14) {
  --star-tail-length: 6.12em;
  --top-offset: 83.42vh;
  --fall-duration: 8.938s;
  --fall-delay: 3.623s;
}
.star:nth-child(15) {
  --star-tail-length: 5.91em;
  --top-offset: 22.71vh;
  --fall-duration: 11.084s;
  --fall-delay: 0.708s;
}
.star:nth-child(16) {
  --star-tail-length: 7.45em;
  --top-offset: 50.83vh;
  --fall-duration: 11.81s;
  --fall-delay: 0.996s;
}
.star:nth-child(17) {
  --star-tail-length: 6.86em;
  --top-offset: 20.6vh;
  --fall-duration: 9.585s;
  --fall-delay: 1.999s;
}
.star:nth-child(18) {
  --star-tail-length: 7.09em;
  --top-offset: 26.03vh;
  --fall-duration: 10.805s;
  --fall-delay: 1.05s;
}
.star:nth-child(19) {
  --star-tail-length: 5.29em;
  --top-offset: 14.27vh;
  --fall-duration: 11.102s;
  --fall-delay: 5.337s;
}
.star:nth-child(20) {
  --star-tail-length: 6.11em;
  --top-offset: 8.78vh;
  --fall-duration: 7.088s;
  --fall-delay: 0.618s;
}
.star:nth-child(21) {
  --star-tail-length: 7.26em;
  --top-offset: 96.91vh;
  --fall-duration: 7.269s;
  --fall-delay: 4.251s;
}
.star:nth-child(22) {
  --star-tail-length: 6.84em;
  --top-offset: 50.44vh;
  --fall-duration: 8.832s;
  --fall-delay: 8.538s;
}
.star:nth-child(23) {
  --star-tail-length: 5.89em;
  --top-offset: 83.27vh;
  --fall-duration: 11.829s;
  --fall-delay: 0.963s;
}
.star:nth-child(24) {
  --star-tail-length: 7.42em;
  --top-offset: 49.59vh;
  --fall-duration: 9.212s;
  --fall-delay: 5.648s;
}
.star:nth-child(25) {
  --star-tail-length: 5.85em;
  --top-offset: 12.35vh;
  --fall-duration: 7.201s;
  --fall-delay: 6.3s;
}
.star:nth-child(26) {
  --star-tail-length: 5.02em;
  --top-offset: 25.63vh;
  --fall-duration: 6.812s;
  --fall-delay: 9.981s;
}
.star:nth-child(27) {
  --star-tail-length: 5.62em;
  --top-offset: 45.65vh;
  --fall-duration: 6.655s;
  --fall-delay: 1.035s;
}
.star:nth-child(28) {
  --star-tail-length: 7.01em;
  --top-offset: 13.44vh;
  --fall-duration: 10.914s;
  --fall-delay: 9.963s;
}
.star:nth-child(29) {
  --star-tail-length: 5.2em;
  --top-offset: 47.13vh;
  --fall-duration: 10.77s;
  --fall-delay: 7.072s;
}
.star:nth-child(30) {
  --star-tail-length: 6.22em;
  --top-offset: 78.46vh;
  --fall-duration: 9.026s;
  --fall-delay: 7.138s;
}
.star:nth-child(31) {
  --star-tail-length: 5.16em;
  --top-offset: 21.47vh;
  --fall-duration: 7.571s;
  --fall-delay: 4.679s;
}
.star:nth-child(32) {
  --star-tail-length: 5.36em;
  --top-offset: 41.05vh;
  --fall-duration: 11.956s;
  --fall-delay: 7.549s;
}
.star:nth-child(33) {
  --star-tail-length: 6.57em;
  --top-offset: 3.12vh;
  --fall-duration: 8.393s;
  --fall-delay: 5.694s;
}
.star:nth-child(34) {
  --star-tail-length: 7em;
  --top-offset: 75vh;
  --fall-duration: 9.923s;
  --fall-delay: 0.215s;
}
.star:nth-child(35) {
  --star-tail-length: 6.82em;
  --top-offset: 22.61vh;
  --fall-duration: 6.845s;
  --fall-delay: 7.115s;
}
.star:nth-child(36) {
  --star-tail-length: 6.79em;
  --top-offset: 12.93vh;
  --fall-duration: 7.178s;
  --fall-delay: 6.77s;
}
.star:nth-child(37) {
  --star-tail-length: 5.74em;
  --top-offset: 21.21vh;
  --fall-duration: 9.194s;
  --fall-delay: 3.066s;
}
.star:nth-child(38) {
  --star-tail-length: 7.34em;
  --top-offset: 27.21vh;
  --fall-duration: 9.071s;
  --fall-delay: 6.527s;
}
.star:nth-child(39) {
  --star-tail-length: 5.74em;
  --top-offset: 76.28vh;
  --fall-duration: 10.205s;
  --fall-delay: 4.657s;
}
.star:nth-child(40) {
  --star-tail-length: 5.22em;
  --top-offset: 20.92vh;
  --fall-duration: 7.691s;
  --fall-delay: 6.708s;
}
.star:nth-child(41) {
  --star-tail-length: 7.16em;
  --top-offset: 17.28vh;
  --fall-duration: 6.414s;
  --fall-delay: 9.754s;
}
.star:nth-child(42) {
  --star-tail-length: 5.8em;
  --top-offset: 96.05vh;
  --fall-duration: 8.71s;
  --fall-delay: 7.292s;
}
.star:nth-child(43) {
  --star-tail-length: 6.08em;
  --top-offset: 74.34vh;
  --fall-duration: 6.943s;
  --fall-delay: 0.913s;
}
.star:nth-child(44) {
  --star-tail-length: 7.05em;
  --top-offset: 54.08vh;
  --fall-duration: 7.856s;
  --fall-delay: 6.131s;
}
.star:nth-child(45) {
  --star-tail-length: 6.53em;
  --top-offset: 38.64vh;
  --fall-duration: 9.665s;
  --fall-delay: 6.505s;
}
.star:nth-child(46) {
  --star-tail-length: 6.11em;
  --top-offset: 15.27vh;
  --fall-duration: 6.486s;
  --fall-delay: 9.381s;
}
.star:nth-child(47) {
  --star-tail-length: 6.4em;
  --top-offset: 41.16vh;
  --fall-duration: 11.392s;
  --fall-delay: 5.774s;
}
.star:nth-child(48) {
  --star-tail-length: 6.59em;
  --top-offset: 95.65vh;
  --fall-duration: 10.19s;
  --fall-delay: 8.741s;
}
.star:nth-child(49) {
  --star-tail-length: 5.62em;
  --top-offset: 97.83vh;
  --fall-duration: 7.159s;
  --fall-delay: 0.544s;
}
.star:nth-child(50) {
  --star-tail-length: 7.17em;
  --top-offset: 69.71vh;
  --fall-duration: 8.537s;
  --fall-delay: 9.746s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}